<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tao.mapper.UserInfoMapper">
    <select id="findUserInfoById"  parameterType="long"  resultType="com.tao.entity.UserInfo">
        SELECT * from userInfo where id=#{id}
    </select>

    <select id="findAllUserInfo" resultType="com.tao.entity.UserInfo">
        SELECT * from userInfo
    </select>

    <insert id="insertUserInfo"  parameterType="com.tao.entity.UserInfo">
        INSERT  INTO userInfo(userName,pwd,address,phone,regTime) VALUES (#{userName},#{pwd},#{address},#{phone},#{regTime})
    </insert>
</mapper>